*{
    font-family: Century Gothic;
}
/* es.css */
.izqa { 
    float: left;
    background-repeat:repeat-y;
    width:2in; 
    height:6in;
    } 
    .dera { 
        float: right;
        background-repeat:repeat-y;
        width:2in; 
        height:6in;
        }     

.izq{
    margin-left: 10%;
}
.der{
    margin-right: 0%;
}

#color .card-body {
    background-color: #ff0000; /* Fondo rojo para la tarjeta Grupo B */
    color: #00ffff; /* Texto blanco para la tarjeta Grupo B */
}


#derecha{
    margin-left: 85%;
}

#izquierda{
    display: flex;
    justify-content: center;
}

#centro{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#grid2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    
}
#grid3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}

#btnindex{
    margin-top: 10px;
    margin-left: 10px;
}

#up{
    margin-top: 10px;
    margin-right: 100%;
}
#btncerrar{
    margin-top: 10px;
    margin-right: 10%;
}

.color {
    color: rgb(255, 0, 0); /* Rojo */
    background-color: rgb(0, 0, 255); /* Azul */
}

#bg-color {
    background-color: #ff0000; /* Color de fondo personalizado (rojo) */
}

.custom-text-color {
    color: #00ffff; /* Color del texto personalizado (blanco) */
}

.card #color.custom-bg-color {
    background-color: #0099ff !important;
}

.card #color.custom-text-color {
    color: #0099ff !important;
}

/* Estilos para la clase card-group */
.card-group {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 10px solid rgb(255, 186, 59);
    border-radius: 2%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    width: calc(33.333% - 30px); 
    max-width: calc(33.333% - 30px); 
    min-width: 250px;
    margin: 20px;
}



/*boton*/
.button-55 {
    align-self: center;
    background-color: rgb(255, 186, 59);
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    text-decoration-color: white;
  }
  
  .button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }
  /*boton*/

  .progress-bar {
    border: 1px solid #ccc; 
    background-color: #f2f2f2; 
}

.progress {
    height: 100%; 
    background-color: #4caf50; 
}



