body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0099ff; 
    color: #333;
}

h1 {
    background-color: rgb(255, 186, 59); 
}

.game-area {
    display: none;
    margin-top: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 2px solid #0099ff; 
}

th {
    background-color: #0099ff; 
    color: #fff;
}

td {
    background-color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(255, 186, 59);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff8c69;
}

#timer {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
